
.cardscontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1f1e2f;
    height: 25rem;
    width: 30rem;
}

.image{
    height: 10rem;
    width: 25rem;
}
.cardheader{
    color: #1f1e2f;
}